body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #8e8e8e;
    margin: 0;
    background: url("images/body-bg.jpg");
    center: top;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: center;
    background-position-y: top;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: url("images/body-bg.jpg");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

.hide {
    display: none;
}

.highlight {
    background: #c6f4b7;
}

/*Bootstrap overrides*/
.btn-primary {
    color: #fff;
    background-color: #6cbf2f;
    border-color: #6cbf2f;
}

.container-index {
    width: 60%;
    padding-top: 7%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#\#messageField {
    height: 250px;
    width: 465px;
    text-align: left;
}

#mainText {
    height: 250px;
    width: 300px;
    text-align: left;
}

#taskForm {
    float: left;
}

#taskHref, #delete\ button {
    float: left;
    margin-right: 3px;
}

#resetPassword {
    padding: 0.75em;
}