body  {
    font-family: Arial,Helvetica, sans-serif;
    font-size: 13px;
    color: #8e8e8e;
    margin: 0;
    background:url("images/body-bg.jpg");
    center:top;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: center;
    background-position-y: top;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: url("images/body-bg.jpg");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}