.window .file-window .message-window {
    margin:auto;
    width: 650px;
    height: 650px;
    background: whitesmoke;
    padding: 20px;
    text-align: center;


}

.file-window form {
    display: block;
    float: left;
    border-width: 10px;
    border-bottom-color-color:black;
    border:3px solid black;

}

.message-window form {
    display: block;
    float: right;
    border-width: 10px;
    border-bottom-color-color:black;
    border:3px solid black;
}