<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.role == 2}">

    <head th:replace="fragments/header :: header">...</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                            <img th:src="@{${'/images/Spectrofly_logo.png'}}" width="200" class="d-inline-block align-top" alt=""/>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <!-- TASK MENU -->

                <div class="col-sm">
                    <div class="employee-card card">
                        <h5 class="card-header">Newest tasks</h5>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="task : ${newTasks}">
                                    <td>
                                        <span th:text="${task.taskName}"></span>
                                        <div th:if="${task.fk_status == 1}">
                                            <button type="button"><i class="text-danger fas fa-circle"></i></button>
                                        </div>
                                        <div th:if="${task.fk_status == 2}">
                                            <button type="button"><i class="text-warning fas fa-circle"></i></button>
                                        </div>
                                        <div th:if="${task.fk_status == 3}">
                                            <button type="button"><i class="text-success fas fa-circle"></i></button>
                                        </div>
                                    </td>
                                    <td>
                                        <form th:action="@{/taskInfo/{id}(id = ${task.id})}" method="get">
                                            <input type="hidden" name="id">
                                            <button type="submit"><i class="fas fa-file"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="/viewAllTasks" class="btn btn-primary">Display all tasks</a>
                        </div>
                    </div>
                </div>

                <!-- UPLOAD FILE -->

                <!--

                <div class="col-sm">
                    <div class="customer-card card">
                        <h5 class="card-header">Upload</h5>
                        <div class="card-body">
                            <form class="form-inline" th:action="@{/storage/upload}" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label> File upload </label>
                                    <input type="file" class="form-control-file" name="file">
                                    <input type="submit"  class="btn btn-primary" value="Upload" name="upload">Upload</input>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                -->

                <!-- MESSAGE AREA -->
                <div class="col-sm">
                    <div class="employee-card card">
                        <h5 class="card-header">Newest messages</h5>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="message : ${messageList}">
                                    <td th:text="${message.sent_from}"></td>
                                    <td th:text="${message.text}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#NewMessage-box">New message</a>
                            <a href="#" class="btn btn-primary">Display all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>


    <!-- Write Message popup -->

    <div class="modal fade" id="NewMessage-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:action="@{/newMessage}" method="post" th:object="${Message}">
                    <div class="modal-header">
                        <h5 class="modal-title">New Message</h5>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="text" placeholder="Write your message here...">
                        <select name="fk_sent_to">
                            <option selected disabled hidden>Choose a user...</option>
                            <option th:each="user : ${employeeList}" th:value="${user.id}" th:text="${user.username}"></option>
                        </select>
                        <input type="hidden" name="fk_sent_from" th:value="${session.id}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Add Task and upload Popup -->

    <div class="modal fade" id="Task-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:action="@{/newTask}" method="post" th:object="${Task}">
                    <div class="modal-header">
                        <h5 class="modal-title">New task</h5>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                task 1
                                </td>
                                <td>
                                task description
                                </td>
                            </tr>
                            </tbody>
                        </table>
                       <!-- <input type="text" name="taskName" placeholder="Name the task...">
                        <select name="fk_customer">
                            <option selected disabled hidden>Choose a customer...</option>
                            <option th:each="customer : ${userList}" th:if="${customer.fk_roles == 2}" th:value="${customer.id}" th:text="${customer.username}"></option>
                        </select>
                        <select name="fk_employee">
                            <option selected disabled hidden>Choose an employee...</option>
                            <option th:each="employee : ${userList}" th:if="${employee.fk_roles == 1}" th:value="${employee.id}" th:text="${employee.username}"></option>
                        </select>-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit task</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<footer th:replace="fragments/footer :: footer">...</footer>
</html>