<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.role == 1}">

    <head th:replace="fragments/header :: header">...</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                            <img th:src="@{${'/images/Spectrofly_logo.png'}}" width="200" class="d-inline-block align-top" alt=""/>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <!-- Users menu -->

                <div class="col-sm">
                    <div class="employee-card card">
                        <h5 class="card-header">Users</h5>
                        <div class="card-body">
                            <h5 class="card-title">New users</h5>
                            <div>
                                <table>
                                    <tbody>
                                    <tr th:each="user : ${newUsers}">
                                        <td>
                                            <span th:text="${user.username}"></span>
                                            <span th:text="${user.firstName}"></span>
                                            <span th:text="${user.lastName}"></span>
                                            <span th:text="${user.email}"></span>
                                            <span th:text="${user.role}"></span>
                                            <form th:action="@{/editUser}" method="post" th:object="${User}">
                                                <button type="button" data-toggle="modal" th:attr="data-target='#EditUser-box'+${user.id}"><i class="fas fa-cog"></i></button>
                                                <div class="modal fade" th:attr="id='EditUser-box'+${user.id}" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Edit</h5>
                                                            </div>
                                                            <div class="modal-body">
                                                                <input type="hidden" name="id" th:value="${user.id}">
                                                                <input type="text" name="username" th:value="${user.username}" placeholder="Username">
                                                                <input type="text" name="firstName" th:value="${user.firstName}" placeholder="First name">
                                                                <input type="text" name="lastName" th:value="${user.lastName}" placeholder="Last name">
                                                                <input type="text" name="email" th:value="${user.email}" placeholder="E-mail">
                                                                <select name="fk_roles">
                                                                    <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.name}" th:selected="${role.id == user.fk_roles}"></option>
                                                                </select>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Edit user</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <form th:action="@{/deleteUser/{id}(id = ${user.id})}" method="post" th:object="${User}">
                                                <button type="button" data-toggle="modal" th:attr="data-target='#DeleteUser-box'+${user.id}"><i class="fas fa-trash-alt"></i></button>
                                                <div class="modal fade" th:attr="id='DeleteUser-box'+${user.id}" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Are you sure you want to delete this user?</h4>
                                                                <p>Doing so will wipe all data about the user, including messages and tasks!</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="text-danger">Delete user</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#NewUser-box">New user</a>
                            <a href="/viewAllUsers" class="btn btn-primary">Display all</a>
                        </div>
                    </div>
                </div>

                <!-- Messages menu -->

                <div class="col-sm">
                    <div class="employee-card card">
                        <h5 class="card-header">Newest messages</h5>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="message : ${messageList}">
                                    <td th:text="${message.sent_from}"></td>
                                    <td th:text="${message.text}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#NewMessage-box">New message</a>
                            <a href="/viewAllMessages" class="btn btn-primary">Display all</a>
                        </div>
                    </div>
                </div>

                <!-- Task menu -->

                <div class="col-sm">
                    <div class="employee-card card">
                        <h5 class="card-header">Newest tasks</h5>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="task : ${newTasks}">
                                    <td>
                                        <span th:text="${task.taskName}"></span>
                                        <br>
                                        <span>Ansvarlig: <span th:text="${task.employee}"></span></span>
                                        <br>
                                        <span>Kunde: <span th:text="${task.customer}"></span></span>
                                        <div th:if="${task.fk_status == 1}">
                                            <button type="button"><i class="text-danger fas fa-circle"></i></button>
                                        </div>
                                        <div th:if="${task.fk_status == 2}">
                                            <button type="button"><i class="text-warning fas fa-circle"></i></button>
                                        </div>
                                        <div th:if="${task.fk_status == 3}">
                                            <button type="button"><i class="text-success fas fa-circle"></i></button>
                                        </div>
                                    </td>
                                    <td>
                                        <form th:action="@{/taskInfo/{id}(id = ${task.id})}" method="get">
                                            <button><i class="fas fa-file"></i></button>
                                        </form>
                                        <form th:action="@{/editTask}" method="post" th:object="${Task}">
                                            <button type="button" data-toggle="modal" th:attr="data-target='#EditTask-box'+${task.id}"><i class="fas fa-cog"></i></button>
                                            <div class="modal fade" th:attr="id='EditTask-box'+${task.id}" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Edit</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <input type="hidden" name="id" th:value="${task.id}">
                                                            <input type="text" name="taskName" placeholder="Task name" th:value="${task.taskName}">
                                                            <select name="fk_customer">
                                                                <option th:each="customer : ${userList}" th:if="${customer.fk_roles == 2}" th:value="${customer.id}" th:text="${customer.username}" th:selected="${customer.id == task.fk_customer}"></option>
                                                            </select>
                                                            <select name="fk_employee">
                                                                <option th:each="employee : ${userList}" th:if="${employee.fk_roles == 1}" th:value="${employee.id}" th:text="${employee.username}" th:selected="${employee.id == task.fk_employee}"></option>
                                                            </select>
                                                            <select name="fk_status">
                                                                <option th:each="status : ${statusList}" th:value="${status.id}" th:text="${status.name}" th:selected="${status.id == task.fk_status}"></option>
                                                            </select>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Edit task</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>


                                        <form th:action="@{/deleteTask/{id}(id = ${task.id})}" method="post">
                                            <button type="button" data-toggle="modal" th:attr="data-target='#DeleteTask-box'+${task.id}"><i class="fas fa-trash-alt"></i></button>
                                            <div class="modal fade" th:attr="id='DeleteTask-box'+${task.id}" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Are you sure you want to delete this task?</h4>
                                                            <p>Doing so will wipe all references to files and customers related to this project!</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="text-danger">Delete Task</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#Task-box">New task</a>
                            <form th:action="@{/viewAllTasks/{id}(id = ${session.id})}">
                                <button type="submit" class="btn btn-primary">Display all</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add User popup -->

        <div class="modal fade" id="NewUser-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form th:action="@{/newUser}" method="post" th:object="${User}">
                        <div class="modal-header">
                            <h5 class="modal-title">New User</h5>
                        </div>
                        <div class="modal-body">
                            <input type="text" name="username" placeholder="Username">
                            <input type="text" name="firstName" placeholder="First name">
                            <input type="text" name="lastName" placeholder="Last name">
                            <input type="text" name="email" placeholder="E-mail">
                            <select name="fk_roles">
                                <option selected disabled hidden>Choose a role...</option>
                                <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.name}"></option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add user</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Write Message popup -->

        <div class="modal fade" id="NewMessage-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form th:action="@{/newMessage}" method="post" th:object="${Message}">
                        <div class="modal-header">
                            <h5 class="modal-title">New Message</h5>
                        </div>
                        <div class="modal-body">
                            <input type="text" name="text" placeholder="Write your message here...">
                            <select name="fk_sent_to">
                                <option selected disabled hidden>Choose a user...</option>
                                <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.username}"></option>
                            </select>
                            <input type="hidden" name="fk_sent_from" th:value="${session.id}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Add Task Popup -->

        <div class="modal fade" id="Task-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:action="@{/newTask}" method="post" th:object="${Task}">
                    <div class="modal-header">
                        <h5 class="modal-title">New task</h5>
                    </div>
                    <div class="modal-body">

                        <input type="text" name="taskName" placeholder="Name the task...">
                        <select name="fk_customer">
                            <option selected disabled hidden>Choose a customer...</option>
                            <option th:each="customer : ${userList}" th:if="${customer.fk_roles == 2}" th:value="${customer.id}" th:text="${customer.username}"></option>
                        </select>
                        <select name="fk_employee">
                            <option selected disabled hidden>Choose an employee...</option>
                            <option th:each="employee : ${userList}" th:if="${employee.fk_roles == 1}" th:value="${employee.id}" th:text="${employee.username}"></option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit task</button>
                    </div>
                </form>
            </div>
            </div>
        </div>

    </body>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Log ud</button>
    </form>
    </div>
    <footer th:replace="fragments/footer :: footer">...</footer>
</html>