<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.role == 1}">

    <head th:replace="fragments/header :: header">...</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                            <img th:src="@{${'/images/Spectrofly_logo.png'}}" width="200" class="d-inline-block align-top" alt=""/>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- Users -->
                <div class="col-sm">
                    <div class="card">
                        <h5 class="card-header">Users</h5>
                        <div class="card-body">
                            <h5 class="card-title">New users</h5>
                            <p class="card-text">FYLD MIG FOR HELVEDE.</p>
                            <a href="#" class="btn btn-primary">New user</a>
                            <a href="#" class="btn btn-primary">Display all</a>
                        </div>
                    </div>
                </div>
                <!-- Messages -->
                <div class="col-sm">
                    <div class="card">
                        <h5 class="card-header">Newest messages</h5>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="message : ${messageList}">
                                    <td th:text="${message.sent_from}"></td>
                                    <td th:text="${message.text}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="#" class="btn btn-primary">New message</a>
                            <a href="#" class="btn btn-primary">Display all</a>
                        </div>
                    </div>
                </div>
                <!-- Task menu -->
                <div class="col-sm">
                    <div class="card">
                        <h5 class="card-header">Newest tasks</h5>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="task : ${newTasks}">
                                    <td>
                                        <span th:text="${task.taskName}"></span>
                                        <div th:if="${task.fk_status == 1}">
                                            <button type="button"><i class="text-danger fas fa-circle"></i></button>
                                        </div>
                                        <div th:if="${task.fk_status == 2}">
                                            <button type="button"><i class="text-warning fas fa-circle"></i></button>
                                        </div>
                                        <div th:if="${task.fk_status == 3}">
                                            <button type="button"><i class="text-success fas fa-circle"></i></button>
                                        </div>
                                    </td>
                                    <td>
                                        <button><i class="fas fa-file"></i></button>
                                        <button><i class="fas fa-cog"></i></button>
                                        <button><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#Task-box">New task</a>
                            <a href="#" class="btn btn-primary">Display all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- User creation -->



    <div class ="hide">

        <H3>Users</H3>

        <form th:action="@{/newUser}" method="post" th:object="${User}">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="firstName" placeholder="First name">
            <input type="text" name="lastName" placeholder="Last name">
            <input type="text" name="email" placeholder="E-mail">
            <select name="fk_roles">
                <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
            <button type="submit">Create User</button>
        </form>

        <p th:text="${message}"></p>

    </div>



    <!-- Add task -->




        <!-- Task Popup -->
        <div class="modal fade" id="Task-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:action="@{/newTask}" method="post" th:object="${Task}">
                    <div class="modal-header">
                        <h5 class="modal-title">New task</h5>
                    </div>
                    <div class="modal-body">

                        <input type="text" name="taskName" placeholder="Name the task...">
                        <select name="customer_id">
                            <option selected disabled hidden>Choose a customer...</option>
                            <option th:each="customer : ${customerList}" th:value="${customer.id}" th:text="${customer.username}"></option>
                        </select>
                        <select name="employee_id">
                            <option selected disabled hidden>Choose an employee...</option>
                            <option th:each="employee : ${employeeList}" th:value="${employee.id}" th:text="${employee.username}"></option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit task</button>
                    </div>
                </form>
            </div>
            </div>
        </div>

    </body>
    </div>
    <footer th:replace="fragments/footer :: footer">...</footer>
</html>