<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.role == 1}">

    <head>
        <link rel="stylesheet" href="/styles.css" type="text/css">
        <link rel="stylesheet" href="/windows.css" type="text/css">
        <link rel="stylesheet" href="/main.css" type="text/css">
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>


    <!-- User creation -->

    <div class ="user-window">

        <form th:action="@{/newUser}" method="post" th:object="${User}">
            <input type="hidden" name="id" th:value="${session.id}">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="firstName" placeholder="First name">
            <input type="text" name="lastName" placeholder="Last name">
            <input type="text" name="email" placeholder="E-mail">
            <select name="fk_roles">
                <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
            <button type="submit">Create User</button>
        </form>

        <p th:text="${message}"></p>

    </div>

    <!-- Messages -->

    <div>

        <ul></ul>

    </div>

    <!-- Add task -->

    <form action="@{/newTask}" method="post" th:object="${Task}">
        <input type="text" name="taskName" placeholder="Name the task...">
        <select name="customer">
            <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.username}"></option>
        </select>
        <select name="employee">
            <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.username}"></option>
        </select>
    </form>


    </body>

</div>
</html>