<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.role == 1}">

    <head>
        <link rel="stylesheet" href="/styles.css" type="text/css">
        <link rel="stylesheet" href="/main.css" type="text/css">
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>


    <!-- User creation -->

    <div>

        <form th:action="@{/newUser}" method="post" th:object="${User}">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="firstName" placeholder="First name">
            <input type="text" name="lastName" placeholder="Last name">
            <input type="text" name="email" placeholder="E-mail">
            <select name="fk_roles">
                <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
            <button type="submit">Create User</button>
        </form>

        <p th:if="${message}">User creation failed!</p>

    </div>

    <!-- Messages -->

    <div>

        <ul></ul>

    </div>



    </body>

</div>
</html>