<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <head th:replace="fragments/header :: header">...</head>
</head>
<body>

<div class="col-sm">
    <div class="customer-card card">
        <h5 class="card-header">Task overview</h5>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr th:each="task : ${newTasks}">
                    <td>
                        <span th:text="${TheTask.taskName}"></span>
                    </td>
                    <td>
                        <span th:text="${TheTask.employee}"></span>
                    </td>
                    <td>
                        <span th:text="${TheTask.status}"></p></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#Task-box">New task</a>
            <a href="#" class="btn btn-primary">Display all</a>
        </div>
    </div>
</div>
</div>

</body>
<footer th:replace="fragments/footer :: footer">...</footer>
</html>