<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.role != 0}">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <head th:replace="fragments/header :: header">...</head>
</head>
<body>

    <!-- TASK OVERVIEW -->

    <div class="col-sm">
        <div class="customer-card card">
            <h5 class="card-header">Task overview</h5>
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <span th:text="${TheTask.taskName}"></span>
                        </td>
                        <td>
                            <span th:text="${TheTask.employee}"></span>
                        </td>
                        <td>
                            <span th:text="${TheTask.status}"></p></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- UPLOAD FILE -->

    <div class="col-sm">
        <div class="customer-card card">
            <h5 class="card-header">Upload</h5>
            <div class="card-body">
                <form class="form-inline" th:action="@{/upload}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label> File upload </label>
                        <input type="hidden" name="id" th:value="${TheTask.id}">
                        <input type="file" class="form-control-file" name="file">
                        <input type="submit"  class="btn btn-primary" value="Upload" name="upload">Upload</input>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- VIEW FILES -->

    <table>
        <tbody>
        <tr th:each="file : ${Files}">
            <td>
                <a th:text="${file.name}" th:href="@{/downloadFile/{name}(name = ${file.name})}" type="post"></a>
                <form th:action="@{/downloadFile/{name}(name = ${file.name})}" method="post">
                    <button type="submit">Download File</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</body>
<footer th:replace="fragments/footer :: footer">...</footer>
</div>
</html>