<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.role != 0}">


<head>
    <meta charset="UTF-8">
    <title>Opgave</title>
    <head th:replace="fragments/header :: header">...</head>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <nav class="navbar navbar-light bg-light">
                <div th:if="${session.role == 1}">
                    <a class="navbar-brand" th:href="@{/employeeMain/{id}(id = ${session.id})}">
                        <img th:src="@{${'/images/Spectrofly_logo.png'}}" width="200" class="d-inline-block align-top" alt=""/>
                    </a>
                </div>
                <div th:if="${session.role == 2}">
                    <a class="navbar-brand" th:href="@{/customerMain/{id}(id = ${session.id})}">
                        <img th:src="@{${'/images/Spectrofly_logo.png'}}" width="200" class="d-inline-block align-top" alt=""/>
                    </a>
                </div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log ud</button>
                </form>
                <div th:if="${session.role == 1}">
                    <form th:action="@{/employeeMain/{id}(id = ${session.id})}" method="get">
                        <button type="submit" class="btn btn-primary">Tilbage</button>
                    </form>
                </div>
                <div th:if="${session.role == 2}">
                    <form th:action="@{/customerMain/{id}(id = ${session.id})}" method="get">
                        <button type="submit" class="btn btn-primary">Tilbage</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Opgave</h5>
                <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                    <td>
                        <span th:text="${TheTask.taskName}"></span>
                    </td>
                    <td>
                        <span th:text="${TheTask.employee}"></span>
                    </td>
                    <td>
                        <span th:text="${TheTask.status}"></span>
                    </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <!-- UPLOAD FILE -->
            <div class="card">
                <h5 class="card-header">Upload</h5>
                <div class="card-body">
                    <form class="form-inline" th:action="@{/upload}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label> Fil-upload </label>
                            <input type="hidden" name="id" th:value="${TheTask.id}">
                            <input type="file" class="form-control-file" name="file">
                            <br>
                            <input type="submit"  class="btn btn-primary" value="Upload" name="upload">Upload</input>
                        </div>
                    </form>
                    <div th:if="${uploadInvalid}">
                        <p>Upload slog fejl, prøv venligst igen.</p>
                    </div>
                    <div th:if="${uploadInvalid == false}">
                        <p>Upload gennemført!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- VIEW FILES -->
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Se uploadede filer</h5>
                <div class="card-body">
                    <table>
                        <tbody>
                        <tr th:each="file : ${Files}">
                            <td>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a th:text="${file.name}" th:href="@{/downloadFile/{name}(name = ${file.name})}"></a>
                                    </li>
                                </ul>
                                <form th:action="@{/downloadFile/{name}(name = ${file.name})}" method="post">
                                    <input type="hidden" name="id" th:value="${TheTask.id}">
                                    <input type="submit"  class="btn btn-primary" value="Download file" name="download file">
                                </form>
                                <div th:if="${session.role == 1}">
                                    <form th:action="@{/deleteFile/{name}(name = ${file.name})}" method="post">
                                        <input type="hidden" name="id" th:value="${TheTask.id}">
                                        <input type="submit"  class="btn btn-primary" value="Delete file" name="delete file">
                                    </form>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:if="${downloadSuccess}">
                        <p>Download gennemført!</p>
                    </div>
                    <div th:if="${downloadSuccess == false}">
                        <p>Download slog fejl.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<footer th:replace="fragments/footer :: footer">...</footer>
</div>
</html>