<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <head th:replace="fragments/header :: header">...</head>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <nav class="navbar navbar-light bg-light">
                <div th:if="${session.role == 1}">
                    <a class="navbar-brand" th:href="@{/employeeMain/{id}(id = ${session.id})}">
                        <img th:src="@{${'/images/Spectrofly_logo.png'}}" width="200" class="d-inline-block align-top"
                             alt=""/>
                    </a>
                </div>
                <div th:if="${session.role == 2}">
                    <a class="navbar-brand" th:href="@{/customerMain/{id}(id = ${session.id})}">
                        <img th:src="@{${'/images/Spectrofly_logo.png'}}" width="200" class="d-inline-block align-top"
                             alt=""/>
                    </a>
                </div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log ud <i class="fas fa-door-open"></i></button>
                </form>
                <div th:if="${session.role == 1}">
                    <form th:action="@{/employeeMain/{id}(id = ${session.id})}" method="get">
                        <button type="submit" class="btn btn-primary"><i class="far fa-arrow-alt-circle-left"></i>
                            Tilbage
                        </button>
                    </form>
                </div>
                <div th:if="${session.role == 2}">
                    <form th:action="@{/customerMain/{id}(id = ${session.id})}" method="get">
                        <button type="submit" class="btn btn-primary"><i class="far fa-arrow-alt-circle-left"></i>
                            Tilbage
                        </button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <table class="table">
                    <tbody>
                    <th>Afsender:</th>
                    <tr th:each="message : ${messageList}">
                        <td th:attr="class=${message.isRead == false} ? 'highlight' : '' ">
                            <h6 class="float-left" th:text="${message.sent_from}"></h6>
                            <form th:action="@{/readMessage/{id}(id = ${message.id})}" method="get">
                                <input type="hidden" name="isRead" th:value="${message.isRead}">
                                <button type="submit" class="btn btn-primary float-right"><i class="fas fa-file"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

<footer th:replace="fragments/footer :: footer">...</footer>
</html>