<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">...</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <nav class="navbar navbar-light bg-light">
                <div th:if="${session.role == 1}">
                    <a class="navbar-brand" th:href="@{/employeeMain/{id}(id = ${session.id})}">
                        <img th:src="@{${'/images/Spectrofly_logo.png'}}" width="200" class="d-inline-block align-top"
                             alt=""/>
                    </a>
                </div>
                <div th:if="${session.role == 2}">
                    <a class="navbar-brand" th:href="@{/customerMain/{id}(id = ${session.id})}">
                        <img th:src="@{${'/images/Spectrofly_logo.png'}}" width="200" class="d-inline-block align-top"
                             alt=""/>
                    </a>
                </div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log ud <i class="fas fa-door-open"></i></button>
                </form>
                <div th:if="${session.role == 1}">
                    <form th:action="@{/employeeMain/{id}(id = ${session.id})}" method="get">
                        <button type="submit" class="btn btn-primary"><i class="far fa-arrow-alt-circle-left"></i>
                            Tilbage
                        </button>
                    </form>
                </div>
                <div th:if="${session.role == 2}">
                    <form th:action="@{/customerMain/{id}(id = ${session.id})}" method="get">
                        <button type="submit" class="btn btn-primary"><i class="far fa-arrow-alt-circle-left"></i>
                            Tilbage
                        </button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Besked</h5>
                <div class="card-body">
                    <table>
                        <tr>
                            <th>Fra: <span th:text="${message.sent_from}"></span></th>
                        </tr>
                        <tr>
                            <td th:text="${message.text}"></td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#NewMessage-box">Besvar <i
                            class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="NewMessage-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:action="@{/newMessage}" method="post" th:object="${Message}">
                <div class="modal-header">
                    <h5 class="modal-title">Ny besked</h5>
                </div>
                <div class="modal-body">
                    <textarea id="#messageField" type="text" name="text"
                              placeholder="Skriv din besked her..."></textarea>
                    <input type="hidden" name="fk_sent_to" th:value="${message.fk_sent_from}">
                    <input type="hidden" name="fk_sent_from" th:value="${session.id}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Luk</button>
                    <button type="submit" class="btn btn-primary">Send besked</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

<footer th:replace="fragments/footer :: footer">...</footer>
</html>