<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">
        <title>Task</title>
        <head th:replace="fragments/header :: header">...</head>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <nav class="navbar navbar-light bg-light">
                    <div th:if="${session.role == 1}">
                        <a class="navbar-brand" th:href="@{/employeeMain/{id}(id = ${session.id})}">
                            <img th:src="@{${'/images/Spectrofly_logo.png'}}" width="200" class="d-inline-block align-top" alt=""/>
                        </a>
                    </div>
                    <div th:if="${session.role == 2}">
                        <a class="navbar-brand" th:href="@{/customerMain/{id}(id = ${session.id})}">
                            <img th:src="@{${'/images/Spectrofly_logo.png'}}" width="200" class="d-inline-block align-top" alt=""/>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <table class="table">
                            <tbody>
                            <th>Sendt fra:</th>
                            <th>Besked</th>
                            <tr th:each="message : ${messageList}">
                                <td th:text="${message.sent_from}"></td>
                                <td th:text="${message.text}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Log ud</button>
    </form>
    <footer th:replace="fragments/footer :: footer">...</footer>
</html>