<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <nav class="navbar navbar-light bg-light">
                <div th:if="${session.role == 1}">
                    <a class="navbar-brand" th:href="@{/employeeMain/{id}(id = ${session.id})}">
                        <img th:src="@{${'/images/Spectrofly_logo.png'}}" width="200" class="d-inline-block align-top" alt=""/>
                    </a>
                </div>
                <div th:if="${session.role == 2}">
                    <a class="navbar-brand" th:href="@{/customerMain/{id}(id = ${session.id})}">
                        <img th:src="@{${'/images/Spectrofly_logo.png'}}" width="200" class="d-inline-block align-top" alt=""/>
                    </a>
                </div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log ud</button>
                </form>
                <div th:if="${session.role == 1}">
                    <form th:action="@{/employeeMain/{id}(id = ${session.id})}" method="get">
                        <button type="submit" class="btn btn-primary">Tilbage</button>
                    </form>
                </div>
                <div th:if="${session.role == 2}">
                    <form th:action="@{/customerMain/{id}(id = ${session.id})}" method="get">
                        <button type="submit" class="btn btn-primary">Tilbage</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>
    <table>
        <tr>Fra: </tr>
        <tr>Besked: </tr>
        <td th:text="${message.sent_from}"></td>
        <td th:text="${message.text}"></td>
    </table>
</body>
</html>